$violet :#9356DC;
$rose : #ff79da;
$cyan : #99e2d0;
$argent : rgb(234,234,234);

body {
    margin: 0;
    font-size: 2.5em;
    text-align: center;
}
header {
    padding-top: 2%;
    font-size: 3em;
}
section {
    width: 90%;
    margin: auto;
}

footer {
    background-color: black;
    color: white;
    a {
        text-decoration: none;
        color: whites;
    }
}

.divResto {
    width: 100%;
    img {
        width: 100%;
        object-fit: cover;
    }
}

.secFace {
    width: 100%;
    aside {
        width: 90%;
        margin : auto;
    }
}

.plocalisation {
    margin: 0;
    font-size: 1.5em;
    background-color: $argent ;
}

