body {
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

header, section, footer {
  position: relative;
  z-index: 10;
  overflow: hidden;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
}

section {
  width: 90%;
  margin: auto;
}

footer {
  background-color: #353535;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 60px;
}
footer a {
  text-decoration: none;
  color: white;
  width: 100%;
  margin-bottom: 15px;
}
footer nav {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: left;
  margin: auto;
}
footer nav img {
  filter: invert(100%);
  width: 45%;
  margin-bottom: 30px;
  margin-top: 30px;
}
footer nav i {
  width: 50px;
}

.divResto {
  width: 100%;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  text-align: left;
}
.divResto img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  max-height: 70%;
  object-fit: cover;
}
.divResto h3, .divResto p {
  margin: 0;
}
.divResto .div_info_carte {
  display: flex;
  justify-content: space-between;
  height: 30%;
  align-items: center;
}
.divResto .div_info_carte div {
  width: auto;
}
.divResto:hover {
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
  transition-duration: 500ms;
}

.secFace {
  width: 100%;
}
.secFace .asiFace {
  width: -moz-available;
  background-color: #f6f6f6;
  padding: 5%;
  padding-bottom: 10%;
}
.secFace aside {
  width: 90%;
  margin: auto;
}
.secFace a {
  background: linear-gradient(#ff79da, #9356DC);
  color: white;
  border-radius: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.8em;
  max-width: 92%;
  display: inline-block;
}

.asiFaceB {
  text-align: left;
}
.asiFaceB div {
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  background-color: #eaeaea;
  margin: auto;
  margin-bottom: 20px;
}

.plocalisation {
  margin: 0;
  background-color: #eaeaea;
}

.secmea {
  position: relative;
  z-index: 10;
  width: 100%;
}
.secmea .imgAvant {
  width: 100%;
}

header {
  padding-top: 10px;
}
header div {
  position: absolute;
  top: 3%;
  left: 3%;
  font-size: 1.5em;
}
header i {
  margin-top: 10px;
  color: black;
}

h2 div {
  background-color: #99e2d0;
  width: 30px;
  height: 5px;
}

.secmenu {
  position: relative;
  z-index: 20;
  margin-top: -11%;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  width: 100%;
  padding-top: 40px;
  background-color: white;
}
.secmenu h1, .secmenu h2 {
  text-align: left;
  padding-left: 3.5%;
}
.secmenu aside {
  font-size: 0.9em;
  min-width: 400px;
}
.secmenu .divItem {
  width: 90%;
  margin: auto;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: left;
  margin-bottom: 6%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: larger;
  padding-left: 8px;
}
.secmenu .divItem h3, .secmenu .divItem p {
  margin: 2%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.secmenu .divItem p {
  margin-top: 1%;
  max-width: 75%;
}
.secmenu .divItem h3 {
  width: 100%;
  margin-bottom: 1%;
}

.a_com {
  background: linear-gradient(#ff79da, #9356DC);
  padding: 20px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 20px;
  margin: 20px;
  color: white;
  font-size: 1.2em;
}

.a_com:hover {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  transition-duration: 500ms;
  filter: brightness(120%);
}

.secFace a:hover {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  transition-duration: 500ms;
  filter: brightness(120%);
}

.a_com:not(:hover) {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  transition-duration: 500ms;
  filter: brightness(100%);
}

.secFace a:not(:hover) {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  transition-duration: 500ms;
  filter: brightness(100%);
}

.pFonx {
  text-align: left;
  position: relative;
  left: -50px;
  margin: 0px;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.pFonx i {
  margin-left: 5%;
  margin-right: 5%;
}
.pFonx span {
  background-color: #9356DC;
  border-radius: 20px;
  height: 36px;
  width: 40px;
  display: inline-block;
  text-align: center;
  padding-top: 3px;
  color: white;
}

.pFonx3 i {
  color: #9356DC;
}

.secLoad {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  width: 100%;
  z-index: 100;
  animation: screenLoad 1s linear forwards 2s;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.secLoad h1 {
  width: 100%;
}

@keyframes screenLoad {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
    display: none;
  }
}
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #9356DC;
  /* Blue */
  border-left: 16px solid #9356DC;
  /* Blue */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1.5s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.Item1 {
  position: relative;
  top: 100px;
  opacity: 0;
  animation: anim 0.5s linear forwards 1.5s;
}

.Item2 {
  position: relative;
  top: 100px;
  opacity: 0;
  animation: anim 0.5s linear forwards 2s;
}

.Item3 {
  position: relative;
  top: 100px;
  opacity: 0;
  animation: anim 0.5s linear forwards 2.5s;
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  50% {
    transform: translate(0, -20px);
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.a_resto {
  position: relative;
  z-index: 20;
  color: black;
}

.div_heart {
  position: relative;
  z-index: 30;
  opacity: 1;
  width: fit-content;
  float: right;
  right: 8%;
  top: -20%;
  cursor: pointer;
}
.div_heart input:checked + label > .empty_heart {
  animation: annimheart;
  animation-duration: 1s;
  opacity: 0;
}
.div_heart input:checked + label > .full_heart {
  animation: annimEmptyheart;
  animation-duration: 1s;
  opacity: 1;
}
.div_heart .checki {
  display: none;
}
.div_heart .empty_heart {
  position: absolute;
  font-size: 1.4em;
}
.div_heart .full_heart {
  background: -webkit-linear-gradient(#ff79da, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.4em;
  opacity: 0;
}
@keyframes annimheart {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes annimEmptyheart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.divItem {
  overflow: hidden;
}
.divItem .checkMenu {
  display: none;
  width: 20%;
  height: 101%;
  background-color: #99e2d0;
  position: absolute;
  top: 0;
  right: -11px;
  cursor: pointer;
}
.divItem .checkMenu i {
  color: white;
  text-align: center;
}
.divItem .checkMenu div {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.divItem label {
  width: -webkit-fill-available;
  width: -moz-available;
  border-radius: 20px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: larger;
  margin: 0;
  cursor: pointer;
}
.divItem .pla__check {
  display: none;
}
.divItem input:checked + label > .pPrix {
  position: relative;
  right: -80px;
  animation: checkingPrix 0.6s linear forwards 0s;
}
.divItem input:checked + label > .checkMenu {
  display: inline;
  opacity: 0;
  animation: checkingMenu 0.6s linear forwards 0s;
}
.divItem input:checked + label > i {
  animation: spincheckingMenu 0.6s linear forwards 0s;
}
.divItem input:checked + label p {
  max-width: 65%;
}
.divItem:hover p {
  max-width: 65%;
}
.divItem:hover .pPrix {
  position: relative;
  right: 22%;
  animation: checkingPrix 0.6s linear forwards 0s;
}
.divItem:hover .checkMenu {
  display: inline;
  animation: checkingMenu 0.6s linear forwards 0s;
  opacity: 1;
  right: 80px;
}
.divItem:hover i {
  animation: spincheckingMenu 0.6s linear forwards 0s;
}
@keyframes checkingPrix {
  0% {
    right: -22%;
    transform: translate(22%, 0);
  }
  100% {
    right: 22%;
  }
}
@keyframes checkingMenu {
  0% {
    opacity: 0;
    right: -80px;
  }
  10% {
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    right: -11px;
  }
}
@keyframes spincheckingMenu {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-height: 801px) {
  .divResto {
    height: 600px;
  }
}
@media screen and (min-height: 651px) {
  .divResto {
    height: 450px;
  }
}
@media screen and (max-height: 651px) {
  .divResto {
    height: 450px;
  }
}
@media all and (max-width: 650px) {
  body {
    font-size: 2.2em;
  }

  header {
    padding-top: 2%;
  }
  header img {
    width: 50%;
    padding: 5px;
  }
  header div {
    top: 2%;
  }

  .divResto {
    margin-bottom: 40px;
    height: 500px;
  }
  .divResto img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    max-height: 330px;
    object-fit: cover;
  }
  .divResto h3, .divResto p {
    margin-left: 5%;
  }
  .divResto .div_info_carte {
    margin-top: -10px;
  }
  .divResto .div_info_carte div i {
    margin-right: 20px;
  }

  .secFace a {
    padding: 20px;
    font-size: 1em;
  }

  .asiFaceB div {
    width: max-content;
  }

  .secmenu aside {
    min-width: initial;
  }
  .secmenu h3, .secmenu p {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 375px) and (max-width: 650px) {
  .secmenu {
    font-size: 1.5em;
  }

  .asiFaceB div {
    font-size: 1.3em;
    width: 80%;
  }

  .pFonx span {
    border-radius: 50px;
    height: 50px;
    width: 50px;
  }

  .divResto .div_info_carte div {
    width: 70%;
  }
}
@media screen and (orientation: portrait) and (max-width: 374px) {
  .divResto {
    height: 300px;
  }
}
@media screen and (orientation: portrait) and (max-width: 300px) {
  .asiFaceB h2 {
    font-size: 1.1em;
  }

  .divResto {
    border-radius: 10px;
    height: 210px;
  }
  .divResto .div_info_carte {
    margin-top: 2px;
    font-size: 0.8em;
  }
  .divResto img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 130px;
  }
}
@media screen and (min-width: 321px) and (max-width: 374px) {
  .secmenu {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 374px) {
  .secmenu {
    margin-top: -17%;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
  }

  .secFace a {
    font-size: 0.8em;
  }
  .secFace .asiFaceB div {
    width: auto;
    padding: 5px;
  }
  .secFace .asiFaceB .pFonx {
    left: -7%;
  }
  .secFace .asiFaceB .pFonx span {
    height: 20px;
    width: 23px;
    padding-bottom: 2px;
    padding-top: 0px;
  }

  header div {
    top: 1.5%;
    left: 6%;
  }

  footer nav i {
    width: 25px;
  }
}
@media screen and (max-width: 321px) {
  .secmenu {
    margin-top: -16%;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
  }
  .secmenu .divItem {
    border-radius: 10px;
  }
  .secmenu .checkMenu i {
    font-size: 0.65em;
    margin-left: -20%;
  }

  header div {
    top: 1%;
  }
}
@media screen and (max-width: 280px) {
  .secmenu {
    margin-top: -14%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  footer {
    font-size: 0.9em;
  }
}
@media all and (min-width: 651px) and (max-width: 1024px) {
  body {
    font-size: 1.5em;
  }

  .asiFace a {
    padding: 20px;
  }

  #asiFaceB div {
    width: 70%;
    font-size: 1.55em;
  }
  #asiFaceB .pFonx span {
    padding-top: 0;
    height: 40px;
  }

  .divResto {
    margin-bottom: 5%;
  }

  .div_info_carte {
    padding-left: 30px;
    padding-right: 30px;
  }

  footer nav i {
    width: 25px;
  }
}
/* CSS Version bureau */
@media all and (min-width: 1024px) {
  .div_loca p {
    padding-top: 5%;
    padding-bottom: 5px;
  }

  header {
    position: absolute;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    z-index: 20;
    width: 100%;
    background-color: white;
  }
  header div {
    position: absolute;
    top: 30%;
    left: 3%;
    font-size: 1.5em;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.2em;
  }

  .divResto {
    height: 330px;
    width: 25%;
    margin: 2%;
  }

  .divResto .div_info_carte div {
    width: auto;
    margin: 5%;
  }

  footer {
    font-size: 1.2em;
  }
  footer nav img {
    filter: invert(100%);
    width: 10%;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  footer nav i {
    width: 25px;
  }

  .asiFaceB {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .asiFaceB h2 {
    width: 100%;
    margin-bottom: 50px;
  }
  .asiFaceB div {
    width: 25%;
    margin: initial;
  }

  .secFace {
    font-size: 1.8em;
  }
  .secFace .asiFace {
    padding-bottom: 5%;
  }
  .secFace .div_loca {
    width: 100%;
  }
  .secFace a {
    padding: 20px;
  }

  .secmenu aside {
    width: 68%;
  }
  .secmenu h1 {
    width: 100%;
  }
  .secmenu .divItem {
    height: 112px;
    border-radius: 30px;
  }

  .secmea img {
    object-position: bottom;
    height: 800px;
  }
}
@media all and (min-width: 1100px) and (max-width: 1280px) {
  body {
    font-size: 1.2em;
  }

  .divResto {
    width: 45%;
  }

  .asiFaceB div {
    width: 70%;
    margin-bottom: 3%;
  }

  .div_loca p {
    padding-top: 8%;
  }

  .secmenu aside {
    width: 49%;
  }
  .secmenu .divItem {
    height: 112px;
  }
}
@media all and (min-width: 1281px) and (max-width: 1350px) {
  .secmenu aside {
    width: 43%;
  }
  .secmenu .divItem {
    height: 92px;
  }
}
@media all and (min-width: 1351px) and (max-width: 1680px) {
  .secmenu aside {
    width: 33%;
  }
  .secmenu .divItem {
    height: 92px;
  }
}
@media all and (min-width: 1681px) {
  .secmenu aside {
    width: 28%;
  }
  .secmenu .divItem {
    height: 92px;
  }
}
@media screen and (min-width: 2000px) {
  .secmea img {
    height: 1100px;
  }
}
@media screen and (min-width: 4000px) {
  body {
    font-size: 5em;
  }

  .asiFaceB {
    font-size: 0.7em;
  }

  .divResto {
    height: 900px;
  }
  .divResto img {
    height: 600px;
  }
}

/*# sourceMappingURL=style.css.map */
